@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

:root {
    --rowNum: "";
}

body {
    margin: 0;
    font-family: 'raleway', 'sans-serif'
}

#header {
    background-color: #FFD4B2;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #fffdf2 25%, transparent 25%), linear-gradient(225deg, #fffdf2 25%, transparent 25%), linear-gradient(45deg, #fffdf2 25%, transparent 25%), linear-gradient(315deg, #fffdf2 25%, #FFD4B2 25%);
    background-position:  27px 0, 27px 0, 0 0, 0 0;
    background-size: 54px 54px;
    background-repeat: repeat;
    /* font-weight: 400; */
    font-size: 25px;
    /* height: 10vh; */
    padding: 16px;

}

#container {
    display: grid;
    grid-template-columns: 15vw auto; 
    height: 90vh;

}

#containertitle {
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.sidebar {
    background-color: #fffdf2
    /* height: 90vh; */
}

#content {
    background-color: #fffdf2;
    opacity: 0.8;
    background-image:  linear-gradient(#d2d2d2 1.1px, transparent 1.1px), linear-gradient(to right, #d2d2d2 1.1px, #fffdf2 1.1px);
    background-size: 22px 22px;
    /* background: #FFF6BD */
    
}

#popup {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20%;
    overflow: auto; 
    background: white;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    /* filter: blur(8px); */
    /* margin: auto; */
}

.popTop {
    display: flex;
    justify-content: space-between;
    background-color: #86C8BC;
    padding: 10px 30px 10px 30px;
    font-size: 17px;
}

#popDelete::before {
    content: "\2715";
    font-size: 10px;
    /* position: fixed; */
    /* z-index: 1; */

}

#popContent {
    border-radius: 40px 15px;
    overflow: hidden;
    border:#d2d2d2;
    position: fixed;
    left: 30%;
    width: 400px;
}


.popSidebar {
    /* width: 10vw; */
    height: 40vh;
    /* border-right: 1px solid black; */
}

.popBelow {
    display: flex;
    padding: 20px 30px;
    background-color: #CEEDC7;
}

.popInput {
    width: 100%;
    /* background-color: #CEEDC7; */
    display: flex;
    flex-direction: column;
    gap: 10px;

}

input[type=text], input[type=radio], input[type=date], #file, #submit {
    /* border: 1px solid #d2d2d2; */
    border: none;
    font-size: 15px;
    height: 20px;
    border-radius: 5px;
    background-color: #fffdf2;
}

#lowlabel {
    background-color: #C7E6B8;
}

#mediumlabel {
    background-color: #FCEC89;
}

#highlabel {
    background-color: #FAAFA0;
}

#submit {
    background-color: #86C8BC;
    /* padding: 10px; */
    font-size: 15px;
    border-radius: 40px;
    margin-top: 10px;
    height: 25px;
}

.todoContainer {
    display: flex;
    /* align-content: center; */
    justify-content: space-around;
    flex-direction: row;
    height: 50px;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
    margin: 10px;

}

#new, #popDelete, #submit, .detail, .editBTN, .deletetodo {
    cursor: pointer;
}

li {
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
}

.editBTN, .deletetodo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: transparent;
}