:root {
    --rowNum: "";
}

body {
    margin: 0;
}

#header {
    background: rgba(221, 44, 195, 0.2);
    /* min-height: 80px; */
    height: 10vh;
}

#container {
    display: grid;
    grid-template-columns: 15vw auto; 
    height: 90vh;

}

.sidebar {
    background: rgba(35, 131, 92, 0.4);
    /* height: 90vh; */
}

.content {
    display: grid;
    /* height: 90vh;  */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat((--rowNum), 1fr);
    gap: 20px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}

#popup {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20%;
    overflow: auto; 
    background: white;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    /* filter: blur(8px); */
    /* margin: auto; */
}

#popdelete::before {
    content: "\2715";
    font-size: 20px;

}

#popcontent {
    background-color: grey;
    width: 70%;
    height: 30%;
    position: fixed;
    left: 20%;
}