:root {
    --rowNum: "";
}

body {
    margin: 0;
}

#header {
    background: rgba(221, 44, 195, 0.2);
    /* min-height: 80px; */
    height: 10vh;
}

#container {
    display: grid;
    grid-template-columns: 20vw auto; 
    height: 90vh;

}

.sidebar {
    background: rgba(35, 131, 92, 0.4);
    /* height: 90vh; */
}

.content {
    display: grid;
    /* height: 90vh;  */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat((--rowNum), 1fr);
    gap: 20px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}